.CampaignDetail__createContainer {
    display: flex;
    flex-direction: column;
    width: 20em;
}

.CampaignDetail__createPaper {
    padding: 1em;
}

.CampaignDetail__createFab {
    position: fixed !important;
    bottom: 1em;
    right: 1em;
}
