.CampaignList__content {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
}

.CampaignList__tabs {
    margin-top: 2em;
}

.CampaignList__forms {
    margin-top: 2em;
}

.CampaignList__formContainer {
    display: flex;
    flex-direction: row;
    align-items: center;

    button {
        margin-left: 1em;
    }
}

.CampaignList__campaignLink {
    display: flex;
    margin: 1em;
}

.CampaignList__campaignPaper {
    padding: 2em;
    max-width: 10em;
}
