.landing__container {
  display: flex;
  height: 80vh;
  justify-content: center;
  align-items: center;
}

.landing__content {
  text-align: center;
  margin: 2em;

  button {
    margin: 1em;
  }
}

.landing__logo {
  margin-bottom: 4em;
}
